In [1]:
# 사용자 정의 함수
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')

df = titanic[['age', 'sex', 'class', 'fare', 'survived']]
print(df.head())

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0

In [3]:
grouped = df.groupby(['class']) # iterator의 구조를 가짐.
print(grouped)
# dir(grouped)  # '__iter__'가 있으면 for을 쓸 수 있다.
# groupd에 agg이 이용해서 적용하게 되면 매개변수로 각 그룹이 ㅐ입되느 ㄴㄱ곶

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11927aa90>

In [4]:
def f(group):
    return group.max()

agg_two = grouped.agg([min, max])
print(agg_two)

# 집계 함수와 사용자 정의 함수만 사용해야 함.
# 오류 발생 (upper 함수는 집계함수가 아니기 때문)
# agg_three = grouped.add({'fare':min, 'sex': str.upper})

         age           sex       fare           survived
         min   max     min   max  min       max      min max
class
First   0.92  80.0  female  male  0.0  512.3292        0   1
Second  0.67  70.0  female  male  0.0   73.5000        0   1
Third   0.42  74.0  female  male  0.0   69.5500        0   1

In [9]:
# 셀 단위로 함수 적용 - transform 이나 apply를 사용해야 함.
# 데이터 별로 구함.
def z_score(x):
    return (x - x.mean()) / x.std()

age_zscore = grouped.age.transform(z_score)
print(age_zscore.head())

# 그룹별 항목이 300개 이상인 항목.
group_filter = grouped.filter(lambda x : len(x) >= 300)
print(group_filter.head())

# SQL의 Having을 만들고자 할 때는 filter 함수를 이용
# 그룹화한 항목에 filtering 해야 함

0   -0.251342
1   -0.015770
2    0.068776
3   -0.218434
4    0.789041
Name: age, dtype: float64
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [9]:
print(pd.pivot_table(df, index='sex', columns='class', values='age', aggfunc='mean'))

class       First     Second      Third
sex
female  34.611765  28.722973  21.750000
male    41.281386  30.740707  26.507589