In [7]:
import pandas as pd

In [24]:
# csv파일 읽어오기
df = pd.read_csv('./data/item.csv')
# print(df)

# 행 선택
# 인덱스 변경 - DataFrame은 행에 붙이는 이름을 Index라고 함.
df.index = ['사과', '수박', '참외', '바나나', '레몬', '망고']
# print(df)

# 열 선택
print(df['code'])
# 하나의 열을 선택하면 기본적으로 Series
# <class 'pandas.core.series.Series'>
print(type(df['code']))

# 열을 선택할 때 list를 이용하면 DataFrame
# <class 'pandas.core.frame.DataFrame'>
print(type(df[['code']]))

사과     1
수박     2
참외     3
바나나    4
레몬     5
망고     6
Name: code, dtype: int64
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [23]:
# 범위 선택 - 슬라이싱
print(df.loc['사과':'참외', 'name'])
print(df.iloc[0:3])

사과             apple
수박        watermelon
참외    oriental melon
Name: name, dtype: object
    code manufacture            name  price
사과     1       korea           apple   1500
수박     2       korea      watermelon  15000
참외     3       korea  oriental melon   1000

In [26]:
print(df[df['price'] > 1000])
print(df[(df['price'] > 1000) & (df['price'] < 2000)])

    code manufacture        name  price
사과     1       korea       apple   1500
수박     2       korea  watermelon  15000
레몬     5       korea       lemon   1500
    code manufacture   name  price
사과     1       korea  apple   1500
레몬     5       korea  lemon   1500

In [27]:
# isin
print(df['price'].isin([1000, 1500]))

사과      True
수박     False
참외      True
바나나    False
레몬      True
망고     False
Name: price, dtype: bool

In [41]:
df = pd.read_csv('./data/noheader_auto-mpg.csv', header = None)
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name' ]
# print(df)

# print(df.head())
# 데이터 개수 확인
print(df.shape)
# 데이터의 전반적인 정보 확인
print(df.info())
# 기술 통계 정보 확인
print(df.describe())

# 고유한 값의 개수 확인
print(df['mpg'].nunique())

# 고유한 값과 개수 확인
print(df['mpg'].value_counts())

(398, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None
              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000
129
mpg
13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
31.9     1
16.9     1
18.2     1
22.3     1
44.0     1
Name: count, Length: 129, dtype: int64