In [17]:
import numpy as np
import pandas as pd

In [18]:
data = pd.read_csv('./data/macrodata.csv')
# print(data.head())

In [19]:
# 시계열 인덱스 생성
periods = pd.PeriodIndex(year=data['year'], quarter=data['quarter'], name='date')
# print(periods.head())

In [20]:
columns = pd.Index(['readgdp', 'infl', 'unemp'], name='item')

data = data.reindex(columns=columns)
# print(data)

In [21]:
# 쿼터의 마지막 날을 세부 데이터로 설정
data.index = periods.to_timestamp('D', 'end')
print(data)

item                           readgdp  infl  unemp
date
1959-03-31 23:59:59.999999999      NaN  0.00    5.8
1959-06-30 23:59:59.999999999      NaN  2.34    5.1
1959-09-30 23:59:59.999999999      NaN  2.74    5.3
1959-12-31 23:59:59.999999999      NaN  0.27    5.6
1960-03-31 23:59:59.999999999      NaN  2.31    5.2
...                                ...   ...    ...
2008-09-30 23:59:59.999999999      NaN -3.16    6.0
2008-12-31 23:59:59.999999999      NaN -8.79    6.9
2009-03-31 23:59:59.999999999      NaN  0.94    8.1
2009-06-30 23:59:59.999999999      NaN  3.37    9.2
2009-09-30 23:59:59.999999999      NaN  3.56    9.6

[203 rows x 3 columns]

In [24]:
# 날짜를 데이터로 사용
ldata = data.stack().reset_index().rename(columns={0:'value'})
print(ldata)

                             date   item  value
0   1959-03-31 23:59:59.999999999   infl   0.00
1   1959-03-31 23:59:59.999999999  unemp   5.80
2   1959-06-30 23:59:59.999999999   infl   2.34
3   1959-06-30 23:59:59.999999999  unemp   5.10
4   1959-09-30 23:59:59.999999999   infl   2.74
..                            ...    ...    ...
401 2009-03-31 23:59:59.999999999  unemp   8.10
402 2009-06-30 23:59:59.999999999   infl   3.37
403 2009-06-30 23:59:59.999999999  unemp   9.20
404 2009-09-30 23:59:59.999999999   infl   3.56
405 2009-09-30 23:59:59.999999999  unemp   9.60

[406 rows x 3 columns]

In [28]:
data = pd.DataFrame({"cust_id":[1, 2, 3, 4], "prod_id":["A", "B", "C", "D"],
                     'pch_cnt':[1, 2, 3, 4], "poh_price":[100, 200, 300, 400],
                     "pch_amt":[10, 20, 30, 40]})

print(data)

   cust_id prod_id  pch_cnt  poh_price  pch_amt
0        1       A        1        100       10
1        2       B        2        200       20
2        3       C        3        300       30
3        4       D        4        400       40

In [30]:
result = pd.melt(data, id_vars=['cust_id', 'prod_id'])
print(result)

    cust_id prod_id   variable  value
0         1       A    pch_cnt      1
1         2       B    pch_cnt      2
2         3       C    pch_cnt      3
3         4       D    pch_cnt      4
4         1       A  poh_price    100
5         2       B  poh_price    200
6         3       C  poh_price    300
7         4       D  poh_price    400
8         1       A    pch_amt     10
9         2       B    pch_amt     20
10        3       C    pch_amt     30
11        4       D    pch_amt     40

In [35]:
data = pd.DataFrame({"id":['id1', 'id1', 'id1', 'id2', 'id2', 'id3'],
                     'fac_1':['a', 'a', 'a', 'b', 'b', 'b'],
                     'fac_2':['d', 'd', 'd', 'c', 'c', 'd']})
# fac_1 과 fac_2 의 빈도 분석
print(pd.crosstab(data['fac_1'], data['fac_2'], rownames=['사실'], colnames=['거짓'], normalize=True))
print(pd.crosstab(data.id, [data['fac_1'], data['fac_2']]))

거짓         c         d
사실
a   0.000000  0.500000
b   0.333333  0.166667
fac_1  a  b
fac_2  d  c  d
id
id1    3  0  0
id2    0  2  0
id3    0  0  1