In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('./data/auto-mpg.csv')
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']

# horsepower는 object type -> 숫자 데이터로 변환
print(df.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

In [30]:
# 데이터의 자료형 확인은 dtpyes 속성이나 info()를 호출하면 된다.
# '?'라는 값을 가진 데이터 때문에 오류 발생.
# df['horsepower'] = df['horsepower'].astype('float')

# '?'라는 값을 가진 데이터를 어떻게 할 것인지?
# '?'값을 NaN으로 바꾼 후 제거
df['horsepower'].replace('?', np.NaN, inplace=True)

df['horsepower'] = df['horsepower'].astype('float')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  397 non-null    float64
 3   horsepower    391 non-null    float64
 4   weight        397 non-null    float64
 5   acceleration  397 non-null    float64
 6   model year    397 non-null    int64
 7   origin        397 non-null    int64
 8   name          397 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.0+ KB
None

In [34]:
# origin 이라는 열은 1, 2, 3, 이라는 값만 가지고 있다.
# 각각 미국(=1), 유럽(=2), 일본(=3)을 의미하는 숫자
# 보여질 때 미국, 유럽, 일본으로 표시하는 것이 좋음. (새로운 컬럼 추가, 컬럼 값 변경)
# 범주형으로 변경하는 것이 분석 속도를 높임.

# 여러 컬럼 값을 바꿀 때는 dictionary 형태로 넘김..ㅣㅣㅣㅣ
df['origin'].replace({1:'미국', 2:'영국', 3:'일본'}, inplace=True)
df['origin'] = df['origin'].astype('category')

print(df['origin'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 397 entries, 0 to 396
Series name: origin
Non-Null Count  Dtype
--------------  -----
397 non-null    category
dtypes: category(1)
memory usage: 661.0 bytes
None