In [2]:
import numpy as np
import pandas as pd
import platform
import matplotlib.pyplot as plt
from matplotlib imp

In [17]:
df = pd.read_excel('./data/주가데이터.xlsx')
# 연월일에 '-'로 구분됨.

# 데이터 타입 변경
# astype을 호출해서 변경
# map 함수에 형을 변경할 수 있는 함수를 대입

# df['연월일'] = map(str, df['연월일'])
# dates = df['연월일'].str.split('-')
# print(dates.head())

df['연월일'] = df['연월일'].astype('str')
dates = df['연월일'].str.split('-')
print(dates.head())
print(type(dates))

df['연'] = dates.str.get(0)
df['월'] = dates.str.get(1)
df['일'] = dates.str.get(2)

print(df.head())

0    [2018, 07, 02]
1    [2018, 06, 29]
2    [2018, 06, 28]
3    [2018, 06, 27]
4    [2018, 06, 26]
Name: 연월일, dtype: object
<class 'pandas.core.series.Series'>
          연월일   당일종가  전일종가     시가     고가     저가     거래량     연   월   일
0  2018-07-02  10100   600  10850  10900  10000  137977  2018  07  02
1  2018-06-29  10700   300  10550  10900   9990  170253  2018  06  29
2  2018-06-28  10400   500  10900  10950  10150  155769  2018  06  28
3  2018-06-27  10900   100  10800  11050  10500  133548  2018  06  27
4  2018-06-26  10800   350  10900  11000  10700   63039  2018  06  26

In [27]:
df1 = pd.DataFrame({
    'a':['a0', 'a1', 'a2', 'a3'],
    'b':['b0', 'b1', 'b2', 'b3'],
    'c':['c0', 'c1', 'c2', 'c3']},
    index = [1, 2, 3, 4])

df2 = pd.DataFrame({
    'a':['a1', 'a2', 'a3', 'a4'],
    'b':['b1', 'b2', 'b3', 'b4'],
    'd':['d1', 'd2', 'd3', 'd4']}, 
    index = [2, 3, 4, 5])

In [26]:
print(df1, df2, sep='\n')

# 동일한 컬럼은 값이 있지만 한쪽에만 존재하는 컬럼은 없는 쪽은 NaN
print(pd.concat([df1, df2]))

    a   b   c
1  a0  b0  c0
2  a1  b1  c1
3  a2  b2  c2
4  a3  b3  c3
    a   b   d
2  a1  b1  d1
3  a2  b2  d2
4  a3  b3  d3
5  a4  b4  d4
    a   b    c    d
1  a0  b0   c0  NaN
2  a1  b1   c1  NaN
3  a2  b2   c2  NaN
4  a3  b3   c3  NaN
2  a1  b1  NaN   d1
3  a2  b2  NaN   d2
4  a3  b3  NaN   d3
5  a4  b4  NaN   d4

In [28]:
print(df1, df2, sep='\n')

# 동일한 인덱스끼리 옆으로 결합
print(pd.concat([df1, df2], axis=1))

    a   b   c
1  a0  b0  c0
2  a1  b1  c1
3  a2  b2  c2
4  a3  b3  c3
    a   b   d
2  a1  b1  d1
3  a2  b2  d2
4  a3  b3  d3
5  a4  b4  d4
     a    b    c    a    b    d
1   a0   b0   c0  NaN  NaN  NaN
2   a1   b1   c1   a1   b1   d1
3   a2   b2   c2   a2   b2   d2
4   a3   b3   c3   a3   b3   d3
5  NaN  NaN  NaN   a4   b4   d4

In [29]:
# 한 쪽에만 있는 데이터 결합 - Outer Join
print(pd.concat([df1, df2], axis=1, join='inner'))

    a   b   c   a   b   d
2  a1  b1  c1  a1  b1  d1
3  a2  b2  c2  a2  b2  d2
4  a3  b3  c3  a3  b3  d3