In [1]:
import numpy as np
import pandas as pd
import platform
import matplotlib.pyplot as plt

In [16]:
price = pd.read_excel('./data/stock price.xlsx')
valuation = pd.read_excel('./data/stock valuation.xlsx')

# inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.
inner_join = pd.merge(price, valuation)

# 겹치는 column 삭제
# copy_df = inner_join[['id', 'stock_name', 'value', 'price', 'eps', 'bps', 'per', 'pbr']]

# outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
outer_join = pd.merge(price, valuation, how='outer')
print(outer_join)

        id stock_name          value     price       name           eps  \
0   128940       한미약품   59385.666667  421000.0        NaN           NaN
1   130960     CJ E&M   58540.666667   98900.0     CJ E&M   6301.333333
2   138250      엔에스쇼핑   14558.666667   13200.0        NaN           NaN
3   139480        이마트  239230.833333  254500.0        이마트  18268.166667
4   142280     녹십자엠에스     468.833333   10200.0        NaN           NaN
5   145990        삼양사   82750.000000   82000.0        삼양사   5741.000000
6   185750        종근당   40293.666667  100500.0        종근당   3990.333333
7   192400      쿠쿠홀딩스  179204.666667  177500.0        NaN           NaN
8   199800         툴젠   -2514.333333  115400.0        NaN           NaN
9   204210     모두투어리츠    3093.333333    3475.0     모두투어리츠     85.166667
10  136480        NaN            NaN       NaN         하림    274.166667
11  138040        NaN            NaN       NaN    메리츠금융지주   2122.333333
12  161390        NaN            NaN       NaN      한국타이어   5648.500000
13  181710        NaN            NaN       NaN  NHN엔터테인먼트   2110.166667
14  207940        NaN            NaN       NaN   삼성바이오로직스   4644.166667

         bps        per       pbr
0        NaN        NaN       NaN
1    54068.0  15.695091  1.829178
2        NaN        NaN       NaN
3   295780.0  13.931338  0.860437
4        NaN        NaN       NaN
5   108090.0  14.283226  0.758627
6    40684.0  25.185866  2.470259
7        NaN        NaN       NaN
8        NaN        NaN       NaN
9     5335.0  40.802348  0.651359
10    3551.0  11.489362  0.887074
11   14894.0   6.313806  0.899691
12   51341.0   7.453306  0.820007
13   78434.0  30.755864  0.827447
14   60099.0  89.790059  6.938551

In [19]:
help(pd.DataFrame.join)

Help on function join in module pandas.core.frame:

join(self, other: 'DataFrame | Series | Iterable[DataFrame | Series]', on: 'IndexLabel | None' = None, how: 'MergeHow' = 'left', lsuffix: 'str' = '', rsuffix: 'str' = '', sort: 'bool' = False, validate: 'str | None' = None) -> 'DataFrame'
    Join columns of another DataFrame.

    Join columns with `other` DataFrame either on index or on a key
    column. Efficiently join multiple DataFrame objects by index at once by
    passing a list.

    Parameters
    ----------
    other : DataFrame, Series, or a list containing any combination of them
        Index should be similar to one of the columns in this one. If a
        Series is passed, its name attribute must be set, and that will be
        used as the column name in the resulting joined DataFrame.
    on : str, list of str, or array-like, optional
        Column or index level name(s) in the caller to join on the index
        in `other`, otherwise joins index-on-index. If multiple
        values given, the `other` DataFrame must have a MultiIndex. Can
        pass an array as the join key if it is not already contained in
        the calling DataFrame. Like an Excel VLOOKUP operation.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'left'
        How to handle the operation of the two objects.

        * left: use calling frame's index (or column if on is specified)
        * right: use `other`'s index.
        * outer: form union of calling frame's index (or column if on is
          specified) with `other`'s index, and sort it.
          lexicographically.
        * inner: form intersection of calling frame's index (or column if
          on is specified) with `other`'s index, preserving the order
          of the calling's one.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.

          .. versionadded:: 1.2.0

    lsuffix : str, default ''
        Suffix to use from left frame's overlapping columns.
    rsuffix : str, default ''
        Suffix to use from right frame's overlapping columns.
    sort : bool, default False
        Order result DataFrame lexicographically by the join key. If False,
        the order of the join key depends on the join type (how keyword).
    validate : str, optional
        If specified, checks if join is of specified type.
        * "one_to_one" or "1:1": check if join keys are unique in both left
        and right datasets.
        * "one_to_many" or "1:m": check if join keys are unique in left dataset.
        * "many_to_one" or "m:1": check if join keys are unique in right dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.
        .. versionadded:: 1.5.0

    Returns
    -------
    DataFrame
        A dataframe containing columns from both the caller and `other`.

    See Also
    --------
    DataFrame.merge : For column(s)-on-column(s) operations.

    Notes
    -----
    Parameters `on`, `lsuffix`, and `rsuffix` are not supported when
    passing a list of `DataFrame` objects.

    Support for specifying index levels as the `on` parameter was added
    in version 0.23.0.

    Examples
    --------
    >>> df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
    ...                    'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

    >>> df
      key   A
    0  K0  A0
    1  K1  A1
    2  K2  A2
    3  K3  A3
    4  K4  A4
    5  K5  A5

    >>> other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
    ...                       'B': ['B0', 'B1', 'B2']})

    >>> other
      key   B
    0  K0  B0
    1  K1  B1
    2  K2  B2

    Join DataFrames using their indexes.

    >>> df.join(other, lsuffix='_caller', rsuffix='_other')
      key_caller   A key_other    B
    0         K0  A0        K0   B0
    1         K1  A1        K1   B1
    2         K2  A2        K2   B2
    3         K3  A3       NaN  NaN
    4         K4  A4       NaN  NaN
    5         K5  A5       NaN  NaN

    If we want to join using the key columns, we need to set key to be
    the index in both `df` and `other`. The joined DataFrame will have
    key as its index.

    >>> df.set_index('key').join(other.set_index('key'))
          A    B
    key
    K0   A0   B0
    K1   A1   B1
    K2   A2   B2
    K3   A3  NaN
    K4   A4  NaN
    K5   A5  NaN

    Another option to join using the key columns is to use the `on`
    parameter. DataFrame.join always uses `other`'s index but we can use
    any column in `df`. This method preserves the original DataFrame's
    index in the result.

    >>> df.join(other.set_index('key'), on='key')
      key   A    B
    0  K0  A0   B0
    1  K1  A1   B1
    2  K2  A2   B2
    3  K3  A3  NaN
    4  K4  A4  NaN
    5  K5  A5  NaN

    Using non-unique key values shows how they are matched.

    >>> df = pd.DataFrame({'key': ['K0', 'K1', 'K1', 'K3', 'K0', 'K1'],
    ...                    'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

    >>> df
      key   A
    0  K0  A0
    1  K1  A1
    2  K1  A2
    3  K3  A3
    4  K0  A4
    5  K1  A5

    >>> df.join(other.set_index('key'), on='key', validate='m:1')
      key   A    B
    0  K0  A0   B0
    1  K1  A1   B1
    2  K1  A2   B1
    3  K3  A3  NaN
    4  K0  A4   B0
    5  K1  A5   B1