In [ ]:
import yaml

In [2]:
with open('./data/vegetables.yml') as f :
    vegetables = yaml.load(f, Loader = yaml.FullLoader)
    print(vegetables)

{'Vegetables': ['Pepper', 'Tomato', 'Garlic']}

In [3]:
### MySQL의 테이블을 가지고 DataFrame 만들기

In [6]:
from sqlalchemy import create_engine
import pymysql

pymysql.install_as_MySQLdb()
import MySQLdb
import pandas as pd

connect = create_engine('mysql+mysqldb://root:wnddkd@localhost:3306/adam')

dataframe = pd.read_sql_table('dbms', connect)

print(dataframe)

   num         name       vendor                    description
0    1          오라클       Oracle            가장 안정적이라고 알려진 RDBMS
1    2        MySQL       Oracle   가장 많이 사용되던 Open Source RDMBS
2    3     Maria DB  Open Source                    MySQL의 fork
3    4      HANA DB          SAP              현대 자동차가 선택한 RDBMS
4    5  Postgre SQL  Open Source  최근에 많이 사용되는 Open SOurce RDBMS
5    6      MongoDB       10 gen     많이 사용되는 Document 지향 No SQL
6    7        redis  Open Source                   In Memory DB